<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<h5>This is the Neighbor Thread Page</h5>

<a href="/neighborhoodPost">Make a Post!</a>

<div class="page_container">

    <div class="row">

        <!-- check to see if any posts are available ? show message  -->

        <!-- Dummy data -->
        <%# allPosts = [{"zipcode": "12345","bgColor":"6D929B","postit":"A new post from me!","img":"","likes":[],"createdAt" : "2022-09-04T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"},{"zipcode": "12345","bgColor":"F5FAFA","postit":"Someone missing a cat?!","img":"","likes":[],"createdAt" : "2022-09-10T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"},{"zipcode": "12345","bgColor":"6D929B","postit":"A new post from me!","img":"","likes":[],"createdAt" : "2022-09-10T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"},{"zipcode": "12345","bgColor":"F5FAFA","postit":"Someone missing a cat?!","img":"","likes":[],"createdAt" : "2022-09-10T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"},{"zipcode": "12345","bgColor":"6D929B","postit":"A new post from me!","img":"","likes":[],"createdAt" : "2022-09-04T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"},{"zipcode": "12345","bgColor":"F5FAFA","postit":"Someone missing a cat?!","img":"","likes":[],"createdAt" : "2022-09-10T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"},{"zipcode": "12345","bgColor":"6D929B","postit":"A new post from me!","img":"","likes":[],"createdAt" : "2022-09-10T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"},{"zipcode": "12345","bgColor":"F5FAFA","postit":"Someone missing a cat?!","img":"","likes":[],"createdAt" : "2022-09-10T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"},{"zipcode": "12345","bgColor":"6D929B","postit":"A new post from me!","img":"","likes":[],"createdAt" : "2022-09-04T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"},{"zipcode": "12345","bgColor":"F5FAFA","postit":"Someone missing a cat?!","img":"","likes":[],"createdAt" : "2022-09-10T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"},{"zipcode": "12345","bgColor":"6D929B","postit":"A new post from me!","img":"","likes":[],"createdAt" : "2022-09-10T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"},{"zipcode": "12345","bgColor":"F5FAFA","postit":"Someone missing a cat?!","img":"","likes":[],"createdAt" : "2022-09-10T02:35:06.410+0000","updatedAt" : "2022-09-10T02:35:06.410+0000"}] %> 
        <%# console.log(allPosts) %> 

        <% if (allPosts.length < 1  || allPosts === false){ %>
            <div class="mt-5 text-center">No Posts to show!</div>
        <%  } else { %>
            <% allPosts.forEach(post => { %>
                <% let bgcolor = "#" + post.bgColor %> 
                <div class="col-xl-8 col-xl-8 col-xl-3 col-xxl-5 post_content"  style='background-color: <%=bgcolor%> '>
                    <p class="p-2 m-0 d-flex aligh-items-center justify-content-center text-center fs-6" id="post-cards">
                        <%= post.postit %>
                    </p>
                    <div class="post-card_bottom d-flex justify-content-between px-2" >
                        <div class="post-date">
                            <i class="fa-regular fa-clock"></i>
                            <span class="time_publish"><%= new Date(post.createdAt).toLocaleDateString() %>></span>
                        </div>
                        <div class="post-likes d-flex">
                            <form action="/like" method="post">
                                <button type="submit" name="like" value="<%=post._id %> " class="bg-transparent border text-white">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            </form>
                            <span><%= post.likes %> </span>
                        </div>
                    </div>
                </div>
                <% }) %> 
            <% } %> 
        
    </div>
</div>

    <%- include("partials/footer.ejs") %>