<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
<span class="pageTitle">Neighborhood Thread </span>

<a href="/neighborhoodPost">Post It!</a>

<div class="page_container">

    <div class="row">

        <!-- check to see if any posts are available ? show message  -->

        <% if (allPosts.length < 1  || allPosts === false){ %>
            <div class="mt-5 text-center">No Posts to show!</div>
        <%  } else { %>
            <% allPosts.forEach(post => { %>
                <% let bgcolor = "#" + post.bgColor %> 
                <div class="post_content"  style='background-color: <%=bgcolor%> '>
                    <span class="username"><%= post.username %></span>
                    <p class="postContent" id="post-cards" style="color:black">
                        <%= post.postit %>
                    </p>
                  
                    <div class="post-card_bottom d-flex justify-content-between px-2" >
                        <div class="post-date">
                            <img class="imgClock" src="./assets/clock.png" alt="clock for post date">
                            <span class="time_publish"><%= new Date(post.createdAt).toLocaleDateString() %></span>
                        
                        <div class="post-likes">
                            <form action="/like/<%=post._id %>" method="post">
                                <button type="submit" name="like" value="<%=post._id %> " class="bg-transparent text-white">
                                    <img class="imgHeart" src="./assets/love.png" alt="hear for likes">
                                    <span class="likeCounter"><%=post.likes.length %> Likes</span>
                                </button>
                              
                            </form>
                           
                        </div>
                       
                    </div>
                    
                    <span class="trashCan"><i class="fa fa-trash-alt"></i></span>
                   
                  </div>
                </div>
                
                <% }) %> 
            <% } %> 
        
    </div>
</div>

    <%- include("partials/footer.ejs") %>
    
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="scripts/deletePost.js"></script>