<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>


<link rel="stylesheet" href="profilestyles.css" >
<script src="https://kit.fontawesome.com/0058d52c91.js" crossorigin="anonymous"></script>

    <div class ="container">
    <h4>Profile Page</h4>
 
      <form action="/sendData" method="post"> 
       
        <div class="formfirst">
            <div class="detailspersonal">
               
                <div class="fields">

                    <div class="inputfield" >
                        <i class='fa fa-user-circle-o' style='font-size:24px'></i>
                        <label>Full Name</label>
                        <input 
                        type="text" 
                        name="fullname" 
                        value="<%= userResult.fullname %>">
                      
                    </div>

                    <div class="inputfield">
                        <i class='fa fa-birthday-cake' style='font-size:24px'></i>
                        <label> Date of birth</label>
                        <input 
                        type="date" 
                        name="birth" 
                        placeholder="Enter your birth" 
                        <%# The following value attribute uses ternary operator %>    
                        value="<%= userResult.birth ? userResult.birth.toISOString().substr(0, 10) : "" %>">
                        

                    </div>
                    <div class="inputfield">
                        <i class='fas fa-envelope-square' style='font-size:24px'></i>
                        <label>Email</label>
                        <input 
                        type="email" 
                        name="email"
                        placeholder="Enter your email" 
                        value="<%= userResult.email %>">
                    </div>

                    <div class="inputfield">
                        <i class='fas fa-rainbow' style='font-size:24px'></i>
                        <label>zip code</label>
                        <input 
                        type="text" 
                        name="zipcode" 
                        placeholder="Enter your zip code" 
                        value="<%= userResult.zipcode %>">
                    </div>

                    

                    <div class="inputfield">
                        <i class='fas fa-home' style='font-size:24px'></i>
                        <label>Address</label>
                        <input 
                        type="text" 
                        name="address" 
                        placeholder="Enter your Address"
                        value="<%= userResult.address %>">
                    </div>

                    
                    <div class="inputfield">
                        <i class="fa fa-volume-control-phone" style="font-size:24px"></i>
                        <label>Phone</label>
                        <input 
                        type="tel"  
                        name="phone" 
                        placeholder="Enter your Phone number" 
                        value="<%= userResult.phone %>">

                     <label for="prim-phone">Primary Phone (User Selection: <%= userResult.primephone %>)</label>
                     <div class="inputfield">
                         <select name="primephone" id="phones-select">
                             <option value="">--Please choose an option--</option>
                             <option value="Mobile">Mobile</option>
                             <option value="Home">Home</option>
                             <option value="Work">Work</option>
                         </select>
                     </div>
                     <br>
                     <button id="profileSubmit" type="submit">Submit</button>
                     <a class="profileSubmit" href="/profileSettings">Settings</a>
                     </div>
                </div>           
            </div>
        </div>
        <br>
     </form>
    </div>

    
    <%- include("partials/footer.ejs") %>